@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.todo-title {
    padding: .5px;
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
}